@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
	padding: 0;
	margin: 0;
}

.body {
	background: url("../img/bg.jpg");
	min-height: 100vh;
	background-size: 102vw 102vh;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#scoreBox {
	position: absolute;
	top: 500px;
	right: 120px;
	font-size: 39px;
	font-weight: bold;
	font-family: "New Tegomin", serif;
}

#hiscoreBox {
	position: absolute;
	top: 550px;
	right: 120px;
	font-size: 39px;
	font-weight: bold;
	font-family: "New Tegomin", serif;
}

#board {
	background: linear-gradient(rgb(141, 185, 108), rgb(55, 12, 71));
	width: 90vmin;
	height: 92vmin;
	border: 2px solid black;
	display: grid;
	grid-template-rows: repeat(18, 1fr);
	grid-template-columns: repeat(18, 1fr);
}

.head {
	background: linear-gradient(rgb(38, 68, 6), rgb(213, 207, 233));
	border: 2px solid rgb(61, 7, 61);
	transform: scale(1.02);
	border-radius: 9px;
}

.snake {
	background-color: rgb(49, 25, 167);
	border: 0.25vmin solid rgb(101, 44, 44);
	border-radius: 12px;
}

.food {
	background: linear-gradient(red, purple);
	border: 0.25vmin solid black;
	border-radius: 8px;
}
